body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#020617;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-links a{
margin-left:25px;
color:white;
text-decoration:none;
font-size:16px;
}

.nav-links a:hover{
color:#38bdf8;
}


/* HERO */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(180deg,#0f172a,#020617);
}

.hero h1{
font-size:60px;
margin-bottom:10px;
}

.hero p{
font-size:20px;
color:#94a3b8;
}

.hero-btn{
margin-top:30px;
padding:15px 35px;
font-size:18px;
border:none;
border-radius:8px;
background:#38bdf8;
cursor:pointer;
}

.hero-btn:hover{
background:#0ea5e9;
}


/* FEATURES */

.features{
display:flex;
justify-content:center;
gap:30px;
padding:80px 40px;
}

.feature-card{
background:#1e293b;
padding:30px;
border-radius:12px;
width:250px;
text-align:center;
transition:0.3s;
}

.feature-card:hover{
transform:translateY(-10px);
}