*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0f0f0f;
color:white;
}

/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 50px;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:24px;
font-weight:700;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#00e5ff;
}

/* HERO */

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

background-image:url("https://images.unsplash.com/photo-1528459105426-b9548367069b?q=80&w=1500");
background-size:cover;
background-position:center;
}

.hero-content{
background:rgba(0,0,0,0.5);
padding:50px;
border-radius:15px;
}

.hero h2{
font-size:48px;
margin-bottom:20px;
}

.start-btn{
display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#00e5ff;
color:black;
font-weight:600;
border-radius:8px;
text-decoration:none;
transition:0.3s;
}

.start-btn:hover{
transform:scale(1.1);
}

/* CASES */

.cases{
padding:120px 50px;
text-align:center;
}

.case-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:40px;
}

.case-card{
background:#1c1c1c;
padding:30px;
border-radius:10px;
transition:0.3s;
}

.case-card:hover{
transform:translateY(-10px);
}

.case-card a{
display:inline-block;
margin-top:15px;
color:#00e5ff;
text-decoration:none;
}

/* CRIME SCENE */

.case-container{
padding-top:120px;
text-align:center;
}

.crime-scene{
position:relative;
width:900px;
margin:40px auto;
}

.scene-image{
width:100%;
border-radius:10px;
}

/* clickable clues */

.clue{
position:absolute;
width:60px;
height:60px;
border-radius:50%;
background:rgba(0,229,255,0.4);
cursor:pointer;
transition:0.3s;
}

.clue:hover{
transform:scale(1.2);
background:#00e5ff;
}

/* positions */

.clue1{
top:60%;
left:30%;
}

.clue2{
top:40%;
left:55%;
}

.clue3{
top:25%;
left:70%;
}

/* clue box */

.clue-box{
margin-top:20px;
background:#1c1c1c;
padding:20px;
border-radius:10px;
width:400px;
margin-left:auto;
margin-right:auto;
}

/* answer */

.solution{
margin-top:30px;
}

.solution input{
padding:10px;
width:250px;
border:none;
border-radius:5px;
}

.solution button{
padding:10px 20px;
border:none;
background:#00e5ff;
font-weight:600;
cursor:pointer;
border-radius:5px;
}